.main-content {
    display: grid;
}
* {
    background-color: black;
    color: seashell;
}

/* Menu Bar Related Styling */
.menu-bar-container {
    position: fixed;
    top: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 69px;
    border-bottom: 1px solid seashell;
}
.menu-bar-logo {
    display: flex;
    justify-content: row;
    padding-left: 10px;
    align-items: center;
}
.tea-cozy-logo {
    height: 50px;
}
.menu-bar-link-container {
    display: inline-flex;
    justify-content: end;
    padding-right: 20px;
}
.menu-bar-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    text-decoration: underline;
}

/* Mission */
.mission-container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    width: 100vw;
}
.mission-statement {
    display: flex;
    background-image: url('../static/images/img-mission-background.jpg');
    height: 700px;
    max-width: 1200px;
    width: 100vw;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}
.mission-statement-text {
    background-color: black;
    width: 100vw;
    text-align: center;
    max-width: 1200px;
}

/* Tea of the Month Related Styling */
.tea-of-the-month-container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.tea-of-the-month-tile-container {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.tea-of-the-month-tile-image {
    height: 200px;
    width: 300px;
}
.tea-of-the-month-tile-container h5 {
    margin: 10px 0px 0px;
}

/* Locations Related Styling */
.locations-container {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    /* flex-shrink: 1; */
}
.locations {
    display: flex;
    background-image: url('../static/images/img-locations-background.jpg');
    /* height: 500px; */
    width: 85vw;
    max-width: 1200px;
    /* flex-shrink: 1; */
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.locations-tile-container {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 2;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: center;
}
.locations-tile {
    max-width: 300px;
    min-width: 300px;
    opacity: 1;
}
.locations h2 {
    background-color: transparent;
}
/* Contact Section Related Styling */
.contact-container {
    height: 200px;
    text-align: center;
}
/* Footer Related Styling */
.footer {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Boilerplate Generated */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background: #e8491d;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    /* background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%; */
}